{% extends 'user/dashlayout.html' %}

{% block content %}

<style>
  .container-form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.86);
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      margin-top: 50px;
  }

  h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-group label {
      color: #333;
  }

  .form-control[disabled] {
      background-color: #e9ecef;
      opacity: 1;
  }

  .btn{
    background-color: #300063;
    color: #fff;
    border-color: #fff;
  }

  .btn:hover{
      background-color: #CE4501;
      border-color: #CE4501;
      color: #fff;
  }
</style>

<div class="container-form">
    <h1>Change Credentials</h1>
    <form method="POST" action="{{ url_for('change_credentials') }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}" disabled>
        </div>
        <div class="form-group">
            <label for="new_email">New Email</label>
            <input type="email" id="new_email" name="new_email" class="form-control" value="{{ user.email }}">
        </div>
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password" class="form-control" required>
        </div>
      
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control">
        </div>
        <button type="submit" class="btn">Update Credentials</button>
    </form>
</div>

{% endblock %}
