{%extends 'user/layout.html'%}


{%block content%}
    <style>
        .masthead {
            background-size: cover;
            background-position: center;
            padding-top: 15vh;
            padding-bottom: 15vh;
            text-align: center;
            color: white;

        }
        .site-heading h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 0;
        }
        .site-heading .subheading {
            font-size: 1.25rem;
            font-weight: normal;
            line-height: 1.5;
        }
        .package-content {
            margin: 20px auto;
            padding: 0 1%;
            max-width: 950px;
            text-align: justify;
            line-height: 1.6;
            margin-bottom: 100px

        }
        .package-content img {
            width: 100%;
            border-radius: 8px;
        }

        .customers{
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../../static/img/icons/15.jpg'); background-attachment: fixed !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color:white !important;
    } 
    </style>
</head>
<body>
  <header class="masthead" style="
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  {% if package.image.startswith('http://') or package.image.startswith('https://') %}
      url('{{ package.image }}');
  {% else %}
      url('{{ url_for('static', filename='images/packages/' + package.image) }}');
  {% endif %}
  background-size: cover;
  background-position: center;">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>{{ package.title }}</h1>
                  <span class="subheading">{{ package.subtitle }}</span>
                  <p class="post-meta">
                      Posted by <a href="#">{{ package.author.username }}</a>
                      on {{ package.post_date.strftime('%B %d, %Y') }} | Last Modified: {{ package.last_modified.strftime('%B %d, %Y %H:%M') }}
                  </p>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="package-content">
  {% if package.image %}
      {% if package.image.startswith('http://') or package.image.startswith('https://') %}
          <img src="{{ package.image }}" alt="{{ package.title }}" class="pb-40">
      {% else %}
          <img src="{{ url_for('static', filename='images/packages/' + package.image) }}" alt="{{ package.title }}" class="pb-40">
      {% endif %}
  {% else %}
      <img src="{{ url_for('static', filename='images/packages/default.jpg') }}" alt="Default Image" class="pb-40">
  {% endif %}
  <h3 class="pb-20">{{ package.subtitle }}</h3>
  <h2 class="pb-20">₦{{ "{:,.2f}".format(package.amount) }}</h2>
  <div>{{ package.content | safe }}</div>
</div>






    <section class="customers layout-pt-lg layout-pb-lg bg-dark-3">
      <div class="container">
        <div class="row y-gap-40 justify-between text-white">
          <div class="col-xl-5 col-lg-6">
            <h2 class="text-30">What our customers are saying about us?</h2>
            <p class="text-white mt-20">Explore what travelers have to say about their extraordinary journeys with us. Discover how we've transformed their travel experiences.</p>
  
            <div class="row y-gap-30 pt-60 lg:pt-40">
              <div class="col-sm-5 col-6">
                <div class="text-30 lh-15 fw-600">13m+</div>
                <div class="lh-15">Happy Customers</div>
              </div>
  
              <div class="col-sm-5 col-6">
                <div class="text-30 lh-15 fw-600">4.88</div>
                <div class="lh-15">Average Customer Rating</div>
  
                <div class="d-flex x-gap-5 items-center pt-10">
                  <div class="icon-star text-white text-10"></div>
                  <div class="icon-star text-white text-10"></div>
                  <div class="icon-star text-white text-10"></div>
                  <div class="icon-star text-white text-10"></div>
                  <div class="icon-star text-white text-10"></div>
                </div>
              </div>
            </div>
          </div>
  
          <div data-anim="slide-up delay-2" class="col-lg-6">
            <div class="overflow-hidden js-testimonials-slider-3" data-scrollbar>
              <div class="swiper-wrapper">
  
                <div class="swiper-slide">
                  <div class="row items-center x-gap-30 y-gap-20">
                    <div class="col-auto">
                      <img src="../../static/img/avatars/9334392.jpg" alt="Tony" class="avatar-img">
                    </div>
  
                    <div class="col-auto">
                      <h5 class="text-16 text-white fw-500">Tony Nwoke</h5>
                      <div class="text-15 text-white lh-15">Marketing Specialist</div>
                    </div>
                  </div>
  
                  <p class="text-18 fw-500 text-white mt-30 sm:mt-20">"Amanigo Travels helped me discover hidden gems around Europe. Each itinerary was perfectly tailored, making every trip memorable and unique!"</p>
                </div>
  
                <div class="swiper-slide">
                  <div class="row items-center x-gap-30 y-gap-20">
                    <div class="col-auto">
                      <img src="../../static/img/avatars/9334410.jpg" alt="Danmallam"  class="avatar-img">
                    </div>
  
                    <div class="col-auto">
                      <h5 class="text-16 text-white fw-500">Danmallam kahdijat</h5>
                      <div class="text-15 text-white lh-15">Freelance Writer</div>
                    </div>
                  </div>
  
                  <p class="text-18 fw-500 text-white mt-30 sm:mt-20">"From the planning stages to the trip itself, Amanigo Travels provided outstanding service. Their attention to detail made my travel stress-free and incredibly enjoyable."</p>
                </div>
  
                <div class="swiper-slide">
                  <div class="row items-center x-gap-30 y-gap-20">
                    <div class="col-auto">
                      <img src="../../static/img/avatars/9334399.jpg" alt="Linda"  class="avatar-img">
                    </div>
  
                    <div class="col-auto">
                      <h5 class="text-16 text-white fw-500">Linda Apkofure</h5>
                      <div class="text-15 text-white lh-15">Entrepreneur</div>
                    </div>
                  </div>
  
                  <p class="text-18 fw-500 text-white mt-30 sm:mt-20">"I've booked several family vacations through Amanigo Travels. Each experience has been seamless, from exotic destinations to cultural immersions. Truly a five-star service!"</p>
                </div>
  
              </div>
  
              <div class="d-flex items-center mt-60 sm:mt-20 js-testimonials-slider-pag">
                <div class="text-white fw-500 js-current">01</div>
                <div class="slider-scrollbar -light bg-white-10 ml-20 mr-20 w-max-300 js-scrollbar"></div>
                <div class="text-white fw-500 js-all">03</div>
              </div>
            </div>
          </div>
          </div>
          </div>
      
    </section>
  
  
  
  
  
<section class="layout-pt-lg layout-pb-md">
  <div data-anim-wrap class="container">
    <div data-anim-child="slide-up delay-1" class="row justify-center text-center">
      <div class="col-auto">
        <div class="sectionTitle -md">
          <h2 class="sectionTitle__title">Special Offers</h2>
          <p class="sectionTitle__text mt-5 sm:mt-0">These popular destinations have a lot to offer</p>
        </div>
      </div>
    </div>

    <div class="row y-gap-20 pt-40">
 

  
      {% for special_offer in special_offers %}
      <div class="col-lg-4 col-sm-6">
          <div class="ctaCard -type-1 rounded-4 -no-overlay">
              <div class="ctaCard__image ratio ratio-41:35">
                  {% if special_offer.image %}
                      {% if special_offer.image.startswith('http://') or special_offer.image.startswith('https://') %}
                          <img class="img-ratio js-lazy" src="{{ special_offer.image }}" alt="{{ special_offer.title }}">
                      {% else %}
                          <img class="img-ratio js-lazy" src="{{ url_for('static', filename='images/specialoffers/' + special_offer.image) }}" alt="{{ special_offer.title }}">
                      {% endif %}
                  {% else %}
                      <img class="img-ratio js-lazy" src="{{ url_for('static', filename='images/specialoffers/default.jpg') }}" alt="Default Image">
                  {% endif %}
              </div>
              <div class="ctaCard__content py-50 px-50 xl:py-30 xl:px-30">
                  <div class="text-15 fw-500 text-white mb-10">
                      {{ special_offer.subtitle[:20] }}{% if special_offer.subtitle|length > 20 %}...{% endif %}
                  </div>
                  <h4 class="text-30 xl:text-24 text-white">{{ special_offer.title }}</h4>
                  <div class="d-inline-block mt-30">
                      <a href="{{ url_for('view_special_offer', offer_id=special_offer.id) }}" class="button px-48 py-15 -blue-1 -min-180 bg-white text-dark-1">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
      {% else %}
      <div class="col-12">
          <p>No special offers available at the moment.</p>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>

{%endblock content%}